<app-header></app-header>
<div class="header-info mb-4">
  <h4>New User</h4>
  <div class="buttons">
    <a (click)="saveUser()" class="btn btn-sm btn-save">SAVE</a>
    <a (click)="saveAndInviteUser()" class="btn btn-sm btn-save invite">SAVE/INVITE</a>
  </div>
</div>

<div class="container-fluid">
  <div class="form_family border-bottom pb-3">
    <div class="row mt-3 flex-column-reverse flex-md-row">
      <div class="col-md-8">
        <form class="form_family">

          <div class="form-row">
            <div class="form-group col-md-5">
              <input [(ngModel)]="newUser.firstName" name="firstName" class="form-control"
                placeholder="Legal Firts Name">
            </div>
            <div class="form-group col-md-2">
              <input [(ngModel)]="newUser.middleName" name="middleName" class="form-control" placeholder="M.I.">
            </div>
            <div class="form-group col-md-5">
              <input [(ngModel)]="newUser.lastName" name="lastName" class="form-control" placeholder="Legal Last Name">
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <input [(ngModel)]="newUser.nickname" name="nickname" class="form-control" placeholder="Nickname"
                required>
            </div>
            <div class="form-group col-md-4">
              <input [(ngModel)]="newUser.email" name="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group offset-1 offset-md-0 col-md-3 d-flex justify-content-md-center align-items-end">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label check-adelante" for="customCheck1">Send Invitation</label>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-5">
              <input [(ngModel)]="newUser.mobileNumber" name="mobileNumber" class="form-control" placeholder="Mobile #">
            </div>
            <div class="form-group col-md-5 offset-md-2">
              <div class="input-group" style="width: 100%;">
                <label class="mb-0 d-flex align-items-center">Birth Date</label>
                <input [(ngModel)]="birthDate" name="birthDate" class="form-control ml-3" placeholder="yyyy-mm-dd"
                  name="dp" ngbDatepicker #d1="ngbDatepicker" [minDate]="{year: 1950, month: 1, day: 1}">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary icon-calendar" (click)="d1.toggle()" type="button"></button>
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="form-group col-md-12">
              <label>Role</label>
              <div class="input-icon">
                <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select flecha">
                <select class="custom-select select form-control" [(ngModel)]="newUser.role" name="role">
                  <option value="0">Admin</option>
                  <option value="1">Co-Parent / Legal Guardian</option>
                  <option value="2">Child</option>
                  <option value="3">Dependent</option>
                  <option value="4">Nanny / Caregiver / Babysitter</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <input class="form-control" placeholder="Password" [(ngModel)]="newUser.password1" name="password1"
                required>
            </div>
            <div class="form-group col-md-6">
              <input class="form-control" placeholder="Repeat Password" [(ngModel)]="newUser.password2" name="password2"
                required>
            </div>
          </div>

        </form>
      </div>

      <div class="upload-pic col-md-4 d-flex flex-column justify-content-center align-items-center mb-4">
        <div class="pic-user">
          <img src="../../../assets/icono.png" alt="Pic">
        </div>
        <div class="form-group">
          <label class="label-upload-pic">
            <span class="title">Upload Pic</span>
            <input type="file" accept="image/png, image/jpeg" [(ngModel)]="newUser.avatar" name="avatar">
          </label>
        </div>
      </div>

    </div>
  </div>

  <div class="form_family border-bottom pb-3">
    <div class="form_family border-bottom pb-3 pt-3">
      <div class="form-row mb-2 mt-4">
        <div class="form-group col-md-6 col-lg-4">
          <input [(ngModel)]="newUser.address.addressLine1" name="addressLine1" class="form-control" type="text"
            placeholder="Address Line 1">
        </div>
        <div class="form-group col-md-6 col-lg-4">
          <input [(ngModel)]="newUser.address.addressLine2" name="addressLine2" class="form-control" type="text"
            placeholder="Address Line 2">
        </div>
      </div>

      <div class="form-row mb-2">
        <div class="form-group col-md-3 col-lg-2">
          <input [(ngModel)]="newUser.address.city" name="city" class="form-control" type="text" placeholder="City">
        </div>

        <div class="form-group col-md-3 col-lg-2">
          <div class="input-icon">
            <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
            <select class="custom-select select form-control" [(ngModel)]="newUser.address.state" name="state">
              <option value="0">State</option>
              <option value="Alabama">Alabama</option>
              <option value="Alaska">Alaska</option>
              <option value="Arizona">Arizona</option>
              <option value="Arkansas">Arkansas</option>
              <option value="California">California</option>
              <option value="Colorado">Colorado</option>
              <option value="Connecticut">Connecticut</option>
              <option value="Delaware">Delaware</option>
              <option value="Florida">Florida</option>
              <option value="Georgia">Georgia</option>
              <option value="Hawaii">Hawaii</option>
              <option value="Idaho">Idaho</option>
              <option value="Illinois">Illinois</option>
              <option value="Indiana">Indiana</option>
              <option value="Iowa">Iowa</option>
              <option value="Kansas">Kansas</option>
              <option value="Kentucky">Kentucky</option>
              <option value="Louisiana">Louisiana</option>
              <option value="Maine">Maine</option>
              <option value="Maryland">Maryland</option>
              <option value="Massachusetts">Massachusetts</option>
              <option value="Michigan">Michigan</option>
              <option value="Minnesota">Minnesota</option>
              <option value="Mississippi">Mississippi</option>
              <option value="Missouri">Missouri</option>
              <option value="Montana">Montana</option>
              <option value="Nebraska">Nebraska</option>
              <option value="Nevada">Nevada</option>
              <option value="New Hampshire">New Hampshire</option>
              <option value="New Jersey">New Jersey</option>
              <option value="New Mexico">New Mexico</option>
              <option value="New York">New York</option>
              <option value="North Carolina">North Carolina</option>
              <option value="North Dakota">North Dakota</option>
              <option value="Ohio">Ohio</option>
              <option value="Oklahoma">Oklahoma</option>
              <option value="Oregon">Oregon</option>
              <option value="Pennsylvania">Pennsylvania</option>
              <option value="Rhode Island">Rhode Island</option>
              <option value="South Carolina">South Carolina</option>
              <option value="South Dakota">South Dakota</option>
              <option value="Tennessee">Tennessee</option>
              <option value="Texas">Texas</option>
              <option value="Utah">Utah</option>
              <option value="Vermont">Vermont</option>
              <option value="Virginia">Virginia</option>
              <option value="Washington">Washington</option>
              <option value="West Virginia">West Virginia</option>
              <option value="Wisconsin">Wisconsin</option>
              <option value="Wyoming">Wyoming</option>
            </select>
          </div>
        </div>

        <div class="form-group col-md-3 col-lg-2">
          <input class="form-control" type="text" placeholder="Zip" [(ngModel)]="newUser.address.zip" name="zip">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-3">
          <input type="text" class="form-control" placeholder="Phone #" [(ngModel)]="newUser.address.phoneNumber"
            name="phoneNumber">
        </div>

        <div class="form-group col-md-3">
          <input type="text" class="form-control" placeholder="Fax #" [(ngModel)]="newUser.address.faxNumber"
            name="faxNumber">
        </div>
      </div>
    </div>
  </div>


  <div class="form_family border-bottom pb-3 mt-5" *ngIf="newUser.role === '2' || newUser.role === '3'">
    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.gender" name="gender">
            <option value="0">Male</option>
            <option value="1">Female</option>
            <option value="2">Other</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.colorCode" name="colorCode">
            <option value="color">Color Code</option>
            <option value="#FFFFFF">White</option>
            <option value="#FF0000">Red</option>
            <option value="#0000FF">Blue</option>
            <option value="#008000">Green</option>
            <option value="#9370DB">Purple</option>
            <option value="#FFA500">Orange</option>
            <option value="#000000">Black</option>
            <option value="#ADD8E6">Light blue</option>
            <option value="#FFC0CB">Pink</option>
            <option value="#808080">Gray</option>
            <option value="#FFFF00">Yellow</option>
            <option value="#90EE90">Light green</option>
            <option value="#00FFFF">Cyan</option>
            <option value="#4B0082">Indigo</option>
            <option value="#000080">Navy</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <input type="text" class="form-control" placeholder="Height" [(ngModel)]="newUser.height" name="height">
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <input type="text" class="form-control" placeholder="Weight" [(ngModel)]="newUser.weight" name="weight">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <input type="text" class="form-control" placeholder="hair color" [(ngModel)]="newUser.hairColor"
          name="hairColor">
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <input type="text" class="form-control" placeholder="eye color" [(ngModel)]="newUser.eyeColor" name="eyeColor">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-4 mb-4">
        <input type="text" class="form-control" placeholder="Allergies" [(ngModel)]="allergy" name="allergy">
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control">
            <option selected>Blood Type</option>
            <option value="1">A+</option>
            <option value="2">A-</option>
            <option value="3">0+</option>
            <option value="4">0-</option>
          </select>
        </div>
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.countryOfCitizenship"
            name="countryOfCitizenship">
            <option value="country">Country of Citizenship</option>
            <option value="1">USA</option>
            <option value="2">Canada</option>
            <option value="3">Argentina</option>
          </select>
        </div>
      </div>
      <div class="form-group col-md-4 offset-md-1 mb-4">
        <input type="text" class="form-control" placeholder="Passport #" [(ngModel)]="newUser.passport" name="passport">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <input type="text" class="form-control" placeholder="School State" [(ngModel)]="newUser.schoolState"
          name="schoolState">
      </div>
      <div class="form-group col-md-4 offset-md-1 mb-4">
        <input type="text" class="form-control" placeholder="Social Security #"
          [(ngModel)]="newUser.socialSecurityNumber" name="social">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <input type="text" class="form-control" placeholder="School" [(ngModel)]="newUser.school" name="school">
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <input type="text" class="form-control" placeholder="Grade" [(ngModel)]="newUser.grade" name="grade">
      </div>
    </div>

  </div>

  <div class="form_family border-bottom pb-3 mt-5"
    *ngIf="(newUser.role === '2' || newUser.role === '3') && (newUser.gender === 1 || newUser.gender === '1')">
    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.topSize" name="topSize">
            <option value="topSize">Tops Size</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.bottomsSize" name="bottomsSize">
            <option value="bottomsSize">Bottoms Size</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.shoeSize" name="shoeSize">
            <option value="shoeSize">Shoe Size</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.braSize" name="braSize">
            <option value="braSize">Bra Size</option>
            <option value="90">90</option>
            <option value="95">95</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>

  </div>

  <div class="form_family border-bottom pb-3 mt-5"
    *ngIf="(newUser.role === '2' || newUser.role === '3') && (newUser.gender === 0 || newUser.gender === '0')">
    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.shirtSize" name="shirtSize">
            <option value="shirtSize">Shirt Size</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.pantsSize" name="pantsSize">
            <option value="pantsSize">Pants Size</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="newUser.shoeSize" name="shoeSize">
            <option value="shoeSize">Shoe Size</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="form_family border-bottom pb-3 mt-5">
    <div class="row mt-3 mb-3">
      <div class="col-10 input-add">
        <div class="form-row">
          <div class="form-group col-9 mb-0">
            <input class="form-control" placeholder="Favorites" [(ngModel)]="favorite">
          </div>
          <div class="col-3 d-flex align-items-center" (click)="addFavorite()">
            <div class="icon-add d-flex align-items-center">
              <a class="d-flex align-items-center">
                <img src="../../../assets/img/corazon-mas.png" alt="#" class="icon-corazon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <div class="opcion-selected col-12 col-sm-8 col-xl-6" *ngFor="let fav of favorites">
          <span>- {{fav}}</span>
          <a class="btn btn-danger btn-sm p-1" (click)="deleteFavorite(fav)"><i class="icon-guion"></i></a>
        </div>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-10 input-add">
        <div class="form-row">
          <div class="form-group col-9 mb-0">
            <input class="form-control" placeholder="Dislikes" [(ngModel)]="dislike">
          </div>
          <div class="col-3 d-flex align-items-center" (click)="addDislike()">
            <div class="icon-add d-flex align-items-center">
              <a class="d-flex align-items-center">
                <img src="../../../assets/img/sad.png" alt="#" class="icon-corazon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <div class="opcion-selected col-12 col-sm-8 col-xl-6" *ngFor="let dis of dislikes">
          <span>- {{dis}}</span>
          <a class="btn btn-danger btn-sm p-1" (click)="deleteDislike(dis)"><i class="icon-guion"></i></a>
        </div>
      </div>
    </div>

    <div class="row mt-3 mb-3">
      <div class="col-10 input-add">
        <div class="form-row">
          <div class="form-group col-9 mb-0">
            <input class="form-control" placeholder="Wish List" [(ngModel)]="wish">
          </div>
          <div class="col-3 d-flex align-items-center" (click)="addWish()">
            <div class="icon-add d-flex align-items-center">
              <a class="d-flex align-items-center">
                <img src="../../../assets/img/star.png" alt="#" class="icon-corazon">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <div class="opcion-selected col-12 col-sm-8 col-xl-6" *ngFor="let wish of wishes">
          <span>- {{wish}}</span>
          <a class="btn btn-danger btn-sm p-1" (click)="deleteWish(wish)"><i class="icon-guion"></i></a>
        </div>
      </div>
    </div>
  </div>


  <div class="form_family border-bottom pb-3 mt-5" *ngIf="newUser.role === '4'">
    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <input type="text" placeholder="Refered By..." class="form-control" [(ngModel)]="referredBy.name" name="name">
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="colorCode" name="colorCode">
            <option value="color">Color Code</option>
            <option value="#FFFFFF">White</option>
            <option value="#FF0000">Red</option>
            <option value="#0000FF">Blue</option>
            <option value="#008000">Green</option>
            <option value="#9370DB">Purple</option>
            <option value="#FFA500">Orange</option>
            <option value="#000000">Black</option>
            <option value="#ADD8E6">Light blue</option>
            <option value="#FFC0CB">Pink</option>
            <option value="#808080">Gray</option>
            <option value="#FFFF00">Yellow</option>
            <option value="#90EE90">Light green</option>
            <option value="#00FFFF">Cyan</option>
            <option value="#4B0082">Indigo</option>
            <option value="#000080">Navy</option>
          </select>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="referredBy.driversLicenseState"
            name="driversLicenseState">
            <option value="dlstate">Driver's License State</option>
            <option value="0">State</option>
            <option value="Alabama">Alabama</option>
            <option value="Alaska">Alaska</option>
            <option value="Arizona">Arizona</option>
            <option value="Arkansas">Arkansas</option>
            <option value="California">California</option>
            <option value="Colorado">Colorado</option>
            <option value="Connecticut">Connecticut</option>
            <option value="Delaware">Delaware</option>
            <option value="Florida">Florida</option>
            <option value="Georgia">Georgia</option>
            <option value="Hawaii">Hawaii</option>
            <option value="Idaho">Idaho</option>
            <option value="Illinois">Illinois</option>
            <option value="Indiana">Indiana</option>
            <option value="Iowa">Iowa</option>
            <option value="Kansas">Kansas</option>
            <option value="Kentucky">Kentucky</option>
            <option value="Louisiana">Louisiana</option>
            <option value="Maine">Maine</option>
            <option value="Maryland">Maryland</option>
            <option value="Massachusetts">Massachusetts</option>
            <option value="Michigan">Michigan</option>
            <option value="Minnesota">Minnesota</option>
            <option value="Mississippi">Mississippi</option>
            <option value="Missouri">Missouri</option>
            <option value="Montana">Montana</option>
            <option value="Nebraska">Nebraska</option>
            <option value="Nevada">Nevada</option>
            <option value="New Hampshire">New Hampshire</option>
            <option value="New Jersey">New Jersey</option>
            <option value="New Mexico">New Mexico</option>
            <option value="New York">New York</option>
            <option value="North Carolina">North Carolina</option>
            <option value="North Dakota">North Dakota</option>
            <option value="Ohio">Ohio</option>
            <option value="Oklahoma">Oklahoma</option>
            <option value="Oregon">Oregon</option>
            <option value="Pennsylvania">Pennsylvania</option>
            <option value="Rhode Island">Rhode Island</option>
            <option value="South Carolina">South Carolina</option>
            <option value="South Dakota">South Dakota</option>
            <option value="Tennessee">Tennessee</option>
            <option value="Texas">Texas</option>
            <option value="Utah">Utah</option>
            <option value="Vermont">Vermont</option>
            <option value="Virginia">Virginia</option>
            <option value="Washington">Washington</option>
            <option value="West Virginia">West Virginia</option>
            <option value="Wisconsin">Wisconsin</option>
            <option value="Wyoming">Wyoming</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <input type="text" placeholder="Driver License #" class="form-control"
          [(ngModel)]="referredBy.driversLicenseNumber" name="driversLicenseNumber">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="referredBy.placeOfBirth" name="placeOfBirth">
            <option value="place">Place of Birth</option>
            <option value="1">USA</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <input type="text" placeholder="Social Security #" class="form-control"
          [(ngModel)]="referredBy.socialSecurityNumber" name="socialSecurityNumber">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4 mb-4">
        <div class="input-icon">
          <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select">
          <select class="custom-select select form-control" [(ngModel)]="referredBy.countryOfCitizenship"
            name="countryOfCitizenship">
            <option value="countryOfCitizenship">Country of Citizenship</option>
            <option value="1">USA</option>
          </select>
        </div>
      </div>

      <div class="form-group col-md-4 offset-md-1 mb-4">
        <input type="text" placeholder="Passport #" class="form-control" [(ngModel)]="referredBy.passporNumber"
          name="passporNumber">
      </div>
    </div>

    <div class="row mt-3 mb-4">
      <div class="col-11 col-md-10 input-add">
        <div class="form-row">
          <div class="form-group col-9 mb-0">
            <input class="form-control" placeholder="Agency for Background Check"
              [(ngModel)]="referredBy.agencyForBackgroundCheck" name="agencyForBackgroundCheck">
          </div>
          <div class="col-3 d-flex align-items-center">
            <div class="icon-add d-flex align-items-center">
              <a href="#" class="d-flex align-items-center">
                <img src="../../../assets/img/mas.png" alt="#">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4 d-flex align-items-end offset-1">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="check2">
          <label class="custom-control-label check-adelante" for="check2">Background check completed </label>
        </div>
      </div>
    </div>
  </div>

  <div class="form_family border-bottom pb-3 mt-5">
    <div class="form-row">
      <div class="col-md-10">
        <div class="form-group col-md-9 mb-4 p-0">
          <label>Child / Dependent relationship</label>
          <div class="input-icon">
            <img src="../../../assets/img/arrow-down.png" alt="#" class="icono-select flecha">
            <ng-multiselect-dropdown [placeholder]="'Select dependen relationship'" [data]="relationships"
              [(ngModel)]="newUser.relationships" [settings]="dropdownSettings" class="multiple-select">
            </ng-multiselect-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>

  <form class="form_family border-bottom pt-3 pb-3 mb-5">
    <div class="form-row">
      <div class="form-group col-md-8 mb-0">
        <label>Admin Notes</label>
        <textarea class="form-control" rows="5" placeholder="Note" [(ngModel)]="newUser.adminNotes"
          name="adminNotes"></textarea>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-end">
        <div class="buttons new-user mt-3">
          <a (click)="saveUser()" class="btn btn-sm btn-save">SAVE</a>
          <a (click)="saveAndInviteUser()" class="btn btn-sm btn-save invite">SAVE/INVITE</a>
        </div>
      </div>
    </div>
  </form>

</div>
