<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" id="sidebar">
      <div class="sidebar__header row">
        <a href="#"><img src="../../../assets/img/home.png" alt="family core"></a>
        <div>
          <h4>Geolocation</h4>
        </div>
      </div>
      <div class="sidebar__body mt-4">
        <ul class="sidebar__body--list pl-0 text-right">
          <li class="sidebar__item"><a [ngClass]="{'active': state == 5}" (click)="state = 5">All</a></li>
          <li class="sidebar__item"><a [ngClass]="{'active': state == 0}" (click)="state = 0">Kid</a></li>
          <li class="sidebar__item"><a [ngClass]="{'active': state == 1}" (click)="state = 1">Junior</a>
          </li>
          <li class="sidebar__item"><a [ngClass]="{'active': state == 2}" (click)="state = 2">Mother</a></li>
          <li class="sidebar__item"><a [ngClass]="{'active': state == 3}" (click)="state = 3">Father</a></li>
          <li class="sidebar__item"><a [ngClass]="{'active': state == 4}" (click)="state = 4">Nanny</a></li>
        </ul>
      </div>
    </div>
    <div class="map">

    </div>
  </div>
</div>
