<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" id="sidebar" [ngClass]="{'close': !openSidebar}">
      <div class="sidebar__header row">
        <a routerLink="/dashboard"><img src="../../../assets/img/home.png" alt="family core"></a>
        <div class="title">
          <h4>Geolocation</h4>
        </div>
        <div class="close-sidebar cursor-pointer" (click)="closeSidebar();">
          <i class="icon-arrow-fill-left" [ngClass]="{'close': !openSidebar}"></i>
        </div>
      </div>
      <div class="sidebar__body mt-4">
        <ul class="sidebar__body--list pl-0 text-right">
          <li class="sidebar__item"><a [ngClass]="{'active': state == -1}" (click)="selectAll()">All</a></li>
          <li class="sidebar__item" *ngFor="let user of users">
            <a [ngClass]="{'active': state == user.id}" (click)="selectUser(user)">{{user.nickname}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="map">
      <agm-map #mapa [latitude]="userSelected.coordinate.latitude" [longitude]="userSelected.coordinate.longitude">
          <agm-marker *ngFor="let user of users" [latitude]="user.coordinate.latitude" [longitude]="user.coordinate.longitude"
            [iconUrl]="user.avatar" [visible]="state === user.id || state === -1">
          </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
