<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" id="sidebar" [ngClass]="{'close': !openSidebar}">
      <div class="sidebar__header row">
        <a routerLink="/dashboard"><img src="../../../assets/img/home.png" alt="family core"></a>
        <div class="title">
          <h4>Geolocation</h4>
        </div>
        <div class="close-sidebar cursor-pointer" (click)="closeSidebar();">
          <i class="icon-arrow-fill-left" [ngClass]="{'close': !openSidebar}"></i>
        </div>
      </div>
      <div class="sidebar__body mt-4">
        <ul class="sidebar__body--list pl-0 text-right">
          <li class="sidebar__item"><a [ngClass]="{'active': state == -1}" (click)="state = -1">All</a></li>
          <li class="sidebar__item" *ngFor="let device of devices">
            <a [ngClass]="{'active': state == user.deviceId}" (click)="state = user.deviceId">{{device.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="map">
      <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker *ngFor="let dev of devices" [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
