@font-face {
  font-family: 'family_core';
  src:  url('fonts/family_core/family_core.eot?w496qf');
  src:  url('fonts/family_core/family_core.eot?w496qf#iefix') format('embedded-opentype'),
    url('fonts/family_core/family_core.ttf?w496qf') format('truetype'),
    url('fonts/family_core/family_core.woff?w496qf') format('woff'),
    url('fonts/family_core/family_core.svg?w496qf#family_core') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'family_core' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-chat:before {
  content: "\e908";
}
.icon-calendar:before {
  content: "\e90c";
}
.icon-arrow-down:before {
  content: "\e90b";
}
.icon-clip:before {
  content: "\e901";
}
.icon-corazon-mas:before {
  content: "\e902";
}
.icon-cruz:before {
  content: "\e903";
}
.icon-guion:before {
  content: "\e904";
}
.icon-star-mas:before {
  content: "\e905";
}
.icon-triste-mas:before {
  content: "\e906";
}
.icon-upload-chat:before {
  content: "\e907";
}
.icon-lupa:before {
  content: "\e900";
}
