/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: avenirBlack;
  src: url(./fonts/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: avenirBook;
  src: url(./fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: avenirHeavy;
  src: url(./fonts/AvenirLTStd-Heavy.otf);
}

@font-face {
  font-family: avenirLight;
  src: url(./fonts/AvenirLTStd-Light.otf);
}

@font-face {
  font-family: avenirMedium;
  src: url(./fonts/AvenirLTStd-Medium.otf);
}

@font-face {
  font-family: avenirRoman;
  src: url(./fonts/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: sfBold;
  src: url(./fonts/SF-Pro-Text-Bold.otf);
}

@font-face {
  font-family: sfHeavy;
  src: url(./fonts/SF-Pro-Text-Heavy.otf);
}

@font-face {
  font-family: sfLight;
  src: url(./fonts/SF-Pro-Text-Light.otf);
}

@font-face {
  font-family: sfMedium;
  src: url(./fonts/SF-Pro-Text-Medium.otf);
}

@font-face {
  font-family: sfRegular;
  src: url(./fonts/SF-Pro-Text-Regular.otf);
}

@font-face {
  font-family: sfSemibold;
  src: url(./fonts/SF-Pro-Text-Semibold.otf);
}


.form_family{
  &.border-bottom{
    border-bottom: 2px solid #007aff !important;
  }

  .form-group{
    
    >label{
      font-size: 0.8rem;
      font-family: sfRegular;
      color: #001426;
    }

    .form-control{
      font-size: 0.85rem;
      color: #001426;
      border: 1.5px solid #007aff;
    }
    
    p{
      color: #007aff;
      font-family: sfBold;
      font-size: 0.85rem;

      &:last-child{
        margin-bottom: 0;
      }
    }

  }
}