<div class="header-calendar">
  <div class="d-flex align-items-center fecha-calendario">
    <div mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()"><i
        class="icon-arrow-left-orange cursor-pointer"></i>
    </div>
    <h3 class="mx-4 text-center">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    <div mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
      <i class="icon-arrow-right-orange cursor-pointer"></i>
    </div>
    <div class="today ml-3 cursor-pointer" mwlCalendarToday [(viewDate)]="viewDate"
      (viewDateChange)="viewDateChange.next(viewDate)">
      Today
    </div>
  </div>
  <div class="fecha">
    <h5 class="mb-0">
      {{today}}
    </h5>
  </div>
</div>

<div class="row mb-5">
  <div [ngSwitch]="view" class="col-lg-8">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
      (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
    </mwl-calendar-month-view>
  </div>
  <div class="events col-lg-4">

  </div>
</div>

<div class="d-flex justify-content-between align-items-center mb-3 edit-event">
  <h3>Edit events</h3>
  <button class="btn btn-primary" (click)="addEvent()">Add new</button>
</div>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Primary color</th>
        <th>Secondary color</th>
        <th>Starts at</th>
        <th>Ends at</th>
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let event of events">
        <td>
          <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()" />
        </td>
        <td>
          <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()" />
        </td>
        <td>
          <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()" />
        </td>
        <td>
          <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.start"
            (ngModelChange)="refresh.next()" [altInput]="true" [convertModelValue]="true" [enableTime]="true"
            dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i" placeholder="Not set" />
        </td>
        <td>
          <input class="form-control" type="text" mwlFlatpickr [(ngModel)]="event.end" (ngModelChange)="refresh.next()"
            [altInput]="true" [convertModelValue]="true" [enableTime]="true" dateFormat="Y-m-dTH:i"
            altFormat="F j, Y H:i" placeholder="Not set" />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteEvent(event)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
