.header-dashboard {
  background: -moz-linear-gradient(left, rgba(90, 214, 140, 1) 0%, rgba(1, 203, 249, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90, 214, 140, 1)), color-stop(100%, rgba(1, 203, 249, 1)));
  background: -webkit-linear-gradient(left, rgba(90, 214, 140, 1) 0%, rgba(1, 203, 249, 1) 100%);
  background: -o-linear-gradient(left, rgba(90, 214, 140, 1) 0%, rgba(1, 203, 249, 1) 100%);
  background: -ms-linear-gradient(left, rgba(90, 214, 140, 1) 0%, rgba(1, 203, 249, 1) 100%);
  background: linear-gradient(to right, rgba(90, 214, 140, 1) 0%, rgba(1, 203, 249, 1) 100%);

  &__brand {
    font-family: avenirBlack;
    color: #fff;

    &:hover {
      color: #fff;
    }

    &>span {
      color: #03263f;
    }
  }
}

.profile {
  font-family: sfSemibold;

  &__user {
    padding: 0 3rem 0 0;
    border: 1px solid #000;
    border-radius: 25px;

    &>img {
      max-width: 35px;
      max-height: 35px;
    }
  }

  &__link {
    color: #007aff;
  }
}

.input-search {
  border: 1px solid #000;
  border-radius: 25px;

  &>div>span,
  input {
    background: transparent;
    border: none;

    &:focus {
      box-shadow: none;
    }
  }
}

.options {
  &__bloque {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    margin: auto;
    border-radius: 15px;
    background: -moz-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 123, 255, 1)), color-stop(100%, rgba(0, 169, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);

    @media screen and (min-width: 576px) {
      width: 140px;
      height: 140px;
    }

    @media screen and (min-width: 1200px) {
      width: 160px;
      height: 160px;
    }

    span>i{
      font-size: 4rem;
      color: #fff;
    }
  }

  &__text {
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
    font-family: sfSemibold;
    font-size: 1rem;
  }
}

.users {
  &__bloque {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    background: -moz-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 123, 255, 1)), color-stop(100%, rgba(0, 169, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 123, 255, 1) 0%, rgba(0, 169, 255, 1) 100%);

    @media screen and (min-width: 576px) {
      width: 140px;
      height: 140px;
    }

    @media screen and (min-width: 1200px) {
      width: 160px;
      height: 160px;
    }
  }
}
