<div class="modal-register">
  <div class="header-info mb-4">
    <h4>Register User</h4>
    <div class="buttons">
      <a (click)="register()" class="btn btn-sm btn-save">SAVE</a>
    </div>
  </div>

  <form class="form_family">

    <div class="form-row">
      <div class="form-group col-md-5">
        <input class="form-control" placeholder="Legal Firts Name" [(ngModel)]="body.firstName" name="firstName">
      </div>
      <div class="form-group col-md-2">
        <input class="form-control" placeholder="M.I." [(ngModel)]="body.middleName" name="middleName">
      </div>
      <div class="form-group col-md-5">
        <input class="form-control" placeholder="Legal Last Name" [(ngModel)]="body.lastName" name="lastName">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <input class="form-control" placeholder="Nickname" [(ngModel)]="body.nickname" name="nickname">
      </div>
      <div class="form-group col-md-7">
        <input class="form-control" placeholder="Email" [(ngModel)]="body.email" name="email">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-5">
        <input class="form-control" placeholder="Mobile #" [(ngModel)]="body.mobileNumber" name="mobileNumber">
      </div>
      <div class="form-group col-md-5 offset-md-2">
        <div class="input-group" style="width: 100%;">
          <label class="mb-0 d-flex align-items-center">Birth Date</label>
          <input [(ngModel)]="birthDate" class="form-control ml-3" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #d1="ngbDatepicker" [minDate]="{year: 1950, month: 1, day: 1}">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary icon-calendar" (click)="d1.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <input class="form-control" placeholder="Password" [(ngModel)]="body.password1" name="password1">
      </div>
      <div class="form-group col-md-6">
        <input class="form-control" placeholder="Repeat Password" [(ngModel)]="body.password2" name="password2">
      </div>
    </div>
  </form>
</div>
