#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #e5f4ff;
  color: #fff;
  transition: all 0.3s;
  min-height: 100vh;
}

#sidebar.active {
  margin-left: -250px;
}

@media(maz-width:768px) {
  #sidebar {
    margin-left: -250px;
  }

  #sidebar.active {
    margin-left: 0px;
  }
}

.sidebar__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 15px;
  background: #d8f1e6;
  margin-top: 10px;
  height: 50px;

  >a {
    position: absolute;
    left: 15px;
    padding: 18px 23px;
    color: #fff;
    background: #007fff;
    border-radius: 10px;

  }

  >div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      max-width: 45px;
    }

    h4 {
      margin: 0 !important;
      color: #001426;
      font-family: avenirBlack;
    }
  }

  .user-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.container__data {
  width: calc(100% - 250px);
  padding-left: 15px;
  padding-right: 15px;

  &--name {
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 10px;

    >h4 {
      margin: 0px;
      padding-left: 15px;
    }
  }
}

.sidebar__body {
  >ul {
    list-style: none;
    text-align: left;
    color: #001426;
    font-family: sfRegular;
    padding-left: 70px;
  }

  &--list {
    .sidebar__item {
      margin-bottom: 3px;

      >a {
        color: #001426;
        cursor: pointer;

        &.active {
          border-bottom: 1px solid #001426;
        }

        &:hover {
          text-decoration: none;
        }
      }

      &--list {
        list-style: none;
        padding-left: 25px;

        &--subitem {
          >a {
            color: #001426;
            font-size: 0.85rem;
            cursor: pointer;

            &.active {
              border-bottom: 1px solid #001426;
            }

            &:hover {
              color: #001426;
            }
          }
        }
      }
    }
  }
}

.table {
  &__header {
    width: 100%;
    background: #f0fbe6;
    margin-top: 10px;
    padding: 10px 15px;
    height: 50px;
    display: flex;
    align-items: center;

    &--columns {
      display: inline-block;
      padding-right: 15px;

      >h4 {
        font-family: sfBold;
        margin: 0;
        font-size: 1rem;
        color: #001426;
      }
    }

    &--title {
      >h4 {
        font-family: sfBold;
        margin: 0;
        font-size: 1rem;
        color: #001426;
      }
    }
  }

  &__body {
    width: 100%;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #97c9ff;


    &--columns {
      display: inline-block;
      padding-right: 15px;

      >p {
        font-family: sfRegular;
        margin: 0;
        font-size: 0.8rem;
        color: #999999;
      }

      span.icono-file {
        background: #f05a23;
        padding: 0.3rem;
        color: #fff;
        font-size: 1.2rem;
        margin-bottom: 2px;
      }
    }
  }
}

.pic-user {
  border-radius: 50%;
  overflow: hidden;
  height: 140px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 145px;
  }
}

/*** Calendario ***/
