.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    // z-index: 1;
    // position: absolute;
    // background-color: white;
    // width: 600px;
}