<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" id="sidebar">
      <div class="sidebar__header row">
        <a routerLink="/dashboard"><img src="../../assets/img/home.webp" alt="family core"></a>
        <div class="h-100">
          <h4>Calendar</h4>
        </div>
      </div>
    </div>
    <div class="container__data col-md-9">
      <div class="header-calendar">
        <div class="d-flex align-items-center fecha-calendario">
          <div mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="dataChange(viewDate)"><i
              class="icon-arrow-left-orange cursor-pointer"></i>
          </div>
          <h3 class="mx-4 text-center">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          <div mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="dataChange(viewDate)">
            <i class="icon-arrow-right-orange cursor-pointer"></i>
          </div>
        </div>
        <div class="fecha">
          <h5 class="mb-0">
            {{today}}
          </h5>
        </div>
      </div>

      <div class="row mb-5">
        <div  class="col-lg-8">
          <mwl-calendar-month-view [viewDate]="viewDate" [activeDay]="activeDay" [events]="calendarEvents" [refresh]="refresh" (dayClicked)="dayClicked($event)">
          </mwl-calendar-month-view>
        </div>
        <div class="events col-lg-4" *ngIf="events">
          <div class="py-3 px-2 container-event" *ngFor="let event of events">
            <div class="d-flex justify-content-between align-items-center header-event">
              <div>
                <span class="point-event"></span>
                <p class="mb-1 pl-4">{{getTime(event)}}</p>
                <p class="title mb-1 pl-4">{{event.title}}</p>
              </div>
              <img *ngFor="let attachment of event.attachments" [src]="attachment.thumbnail" alt="attachment" height="25px">
            </div>
            <div class="events-detail mb-2">
              <p class="mb-1 pl-4">{{event.detail}}</p>
            </div>
            <div class="users mb-2">
              <div class="d-flex align-items-center" *ngFor="let mem of event.familyMembers">
                <div class="mr-2 mb-1 div-img"><img src="{{getAvatar(mem)}}" alt="..."></div>
                <p class="mb-1">{{getName(mem)}}</p>
              </div>
            </div>
            <div class="location mb-2 d-flex align-items-center">
              <i class="icon-location mb-0 mr-2"></i>
              <p class="mb-0">{{getAddress(event)}}</p>
            </div>
            <div class="d-flex w-100 align-items-center">
              <div class="col-6">
                <button class="btn btn-sm btn-save" (click)="edit(event)">Edit</button>
              </div>
              <div class="col-6">
                <button class="btn btn-sm btn-save" (click)="delete(event)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>