<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" id="sidebar">
      <div class="sidebar__header row">
        <a routerLink="/dashboard"><img src="../../../assets/img/home.webp" alt="family core"></a>
        <div class="h-100">
          <h4>My account</h4>
        </div>
        <div class="sidebar__body mt-4">
          <ul class="sidebar__body--list pl-0 text-right">
            <li class="sidebar__item"><a>Cancel Membership</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container__data">
      <!-- <div class="container__data--name">
        <div class="d-flex w-100 align-items-center">
          <div class="col-6 offset-6"><a><img src="../../../assets/img/user-mas.webp" alt="add user"></a>
          </div>
        </div>
      </div> -->

      <div>
        <div class="table">
          <div class="table__header">
            <div class="table__header--columns col-3">
              <h4>STATUS</h4>
            </div>
            <div class="table__header--columns col-3">
              <h4>MEMBERSHIP</h4>
            </div>
            <div class="table__header--columns col-6">
              <h4>CREDIT CARD</h4>
            </div>
          </div>

          <div class="table__body table_link" *ngIf="subscription">
            <div class="table__body--columns col-3">
              <p>{{subscription.status}}</p>
            </div>
            <div class="table__body--columns col-3">
              <p>{{subscription.plan}}</p>
            </div>
            <div class="table__body--columns col-6 d-flex align-items-center">
              <p class="mr-2">AMEXxxxxxxxxxxxxx1212</p>
              <a class="change-card">Change Card</a>
            </div>
          </div>
        </div>
      </div>
      <div class="button-suscribe d-flex justify-content-end">
        <a class="cursor-pointer" (click)="subscribe()">Suscribe/renew</a>
      </div>
    </div>
  </div>
</div>