<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" id="sidebar">
      <div class="sidebar__header row">
        <a href="#"><i>IC</i></a>
        <h4>Users</h4>
      </div>
      <div class="sidebar__body mt-4">
        <ul>
          <li>All</li>
          <li>Admin</li>
          <li>Parent/legal Guardian</li>
          <li>Child</li>
          <li>Dependent</li>
          <li>Nanny</li>
        </ul>
      </div>

    </div>
    <div class="col-md-8">
      <div class="table">
        <div class="table__header">
          <div class="table__header--columns">
            <h4>NAME</h4>
          </div>
          <div class="table__header--columns">
          </div>
          <div class="table__header--columns">
            <h4>MAIL</h4>
          </div>
          <div class="table__header--columns">
            <h4>MOBILE #</h4>
          </div>
          <div class="table__header--columns">
            <h4>ROLE</h4>
          </div>
        </div>

        <div class="table__body">
            <div class="table__body--columns">
              <p>Jane Smith</p>
            </div>
            <div class="table__body--columns">
              <p class="resend">Resend Invitation</p>
            </div>
            <div class="table__body--columns">
              <p>mama@gmail.com</p>
            </div>
            <div class="table__body--columns">
              <p>888-555-1212</p>
            </div>
            <div class="table__body--columns">
              <p>Parent/Legal Guardian</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
